@model Address

@{
    ViewData["Title"] = "Add Address";
}

<h1 class="mb-4">Add an Address</h1>

<form method="post">
    <input type="text" name="returnUrl" value="@ViewBag.returnUrl" hidden />
    <input type="hidden" asp-for="Id"  hidden />
    <div class="mt-4">
        <label asp-for="Name" class="mb-1 fw-bold"></label>
        <input asp-for="Name" class="form-control w-50" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <label asp-for="MainSt" class="mb-1 fw-bold"></label>
        <input asp-for="MainSt" class="form-control w-50" />
        <span asp-validation-for="MainSt" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <label asp-for="City" class="mb-1 fw-bold"></label>
        <input asp-for="City" class="form-control w-50" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <label asp-for="Country" class="mb-1 fw-bold"></label>
        <input asp-for="Country" class="form-control w-50" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark mt-4 px-3">@(Model.Id==0?"Add":"Update")</button>
</form>
