@model Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="SaveEdit" asp-controller="ORder" asp-route-id="@Model.Id" class="text-start">

    <div>
        <label asp-for="State"></label>
        <select class="form form-control" asp-for="State">
            <option value="Processing">Processing</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
            <option value="Canceled">Canceled</option>
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="m-3"></div>
    <input type="submit" value="Save" class="btn btn-primary" onclick="return confirmEdit();" />

</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    function confirmEdit() {
        return confirm('Are you sure you want to save changes to this Order State?');
    }
</script>

